
a:visited {
  color: #0F4D92 !important;
}

a,
a:hover,
a:focus,
a:active {
  color: #002147 !important;
}

a.btn {
  color: #002147 !important;
  background-color: #0F4D92 !important;  /* Replace with your desired color */
}
